body {
  display: flex;
  flex-flow: column;
  min-height: 97vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  body {
    min-height: 91vh;
  ]
}}

main {
  flex: 1;
}

footer {
  width: 100%;
}

main iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.github-fork-ribbon:before {
  background-color: black;
}
